tr td{background-color: blue;}
tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd){
    background-color: red;
}
/* 
tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd){
    background-color: red;
}

tbody :not(tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd)){
    background-color: blue;
} */
